
#principal > #logo{
  margin-top: 5%;
  margin-left: 45%;
}

#principal > p{
  width: 90%;
  height: 15%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
  font-size: 28px;
}

#logo{
  border-radius: 30px;
}
.bordeMorado{
  border: 1px solid #7B1FA2;
  border-radius: 10px;
}
#btnDownload{
  width: 300px;
  height: 100px;
  margin-left: 40%;
  margin-bottom: 5%;
  padding: 18px;
  font-size: 25px;
}

#btnDownload:hover{
  color: #7B1FA2;
  background-color: white;
  cursor: pointer;
}

#version{
  display: inline-block;
  margin-top: 3%;
  margin-left: 46%;
  color: #AB47BC;
}

.slack{
  width: 30%;
  height: 18%;
  margin-top: 3%;
  margin-left: 36%;
  font-size: 12px;
}

.alinearElem{
  margin-top: 4%;
  margin-left: 2%;
  padding: 3%;
  border: 1px solid red;
}


.textoSlack{
  margin-top: 10%;
}

.blue {
  width: 100%;
  height: 14%;
  background: blue;
  margin-top: -1.5%;
}
li {
    display: inline-block;
    list-style: none;
    margin-left: 12px;
    margin-bottom: 10px;

}
.negrita {
    font-weight: 400;
    font-size: 21px;
    margin-top: -5px;

}
#white{
  width: 100%;
  height: 10%;
  background:  white;
}
.centrar{
  margin-left: 42%;
  top: 2%;
}

.blue:hover{
  background-color:#0269c2;
}
li>a {
   text-decoration: none;
}
